.headerbar #site-description {
	display: none !important;
}

.headerbar .header-banner {
	display: block;
	text-align: center;
	max-width: 100%;
	max-height: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.headerbar .header-banner {
		width: 100% !important;
	}
}

.headerbanner-search-1 {
	top: 30px;
	left: 30px;
	position: absolute;
	z-index: 1;
}

.headerbanner-search-2 {
	top: 30px;
	right: 30px;
	position: absolute;
	z-index: 1;
}

.headerbanner-search-3 {
	bottom: 30px;
	left: 30px;
	position: absolute;
	z-index: 1;
}

.headerbanner-search-4 {
	bottom: 30px;
	right: 30px;
	position: absolute;
	z-index: 1;
}

.headerbanner-search-7 {
	bottom: -5px;
	left: 39%;
	position: absolute;
	z-index: 1;
}

.headerbar .mobile-header-banner {
	display: none;
}

.navbar #search-box{
	box-shadow:none;
	margin: auto;
	padding: 5px;
}
.rtl .navbar #search-box {
	float:left;
}

.navbar .button-search-end {
	border-radius: 0px 4px 4px 0px;
}
.rtl .navbar .button-search-end {
	border-radius: 4px 0px 0px 4px;
}

.banner-header {
	position: relative;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.headerbar .header-banner {
		border-radius: 0px !important;
	}
}