/* CSS Document */
#globalthing
{
	background: url('http://www.phproxy.org/proxy.php?q=aHR0cDovL2kuc29tZXRoaW5nYXdmdWwuY29tL2ltYWdlcy9iZy5wbmc%3D');
	font: bold 11px sans-serif;
	width: 100%;
}

#globalthing ul
{
	list-style: none;
	margin: 0;
	padding: .3em 0;
}

#globalthing a
{
	color: #fff;
	text-decoration: none;
}

#globalthing a:hover
{
	text-decoration: underline;
}

#globalthing li
{
	border-left: 1px solid #fff;
	display: inline;
	margin: 0;
	padding: 0 .7em;
}

#globalthing li.first
{
	border-left: none;
}